# Ejercicio

- Vamos a hacer un algoritmo que cada 200 días rebalancee todos los activos para tener el mismo porcertaje.
- Estamos en modo backtesting: calculamos primero todas las allocations, las insertamos y ejecutamos el backtesting.

1. Descarga el maestro de valores.
2. Descarga todos los datos para cada ticker del maestro. Baja solo el close.
3. Con las series close, crea un datafame donde tengas como columnas los tickers y filas las fechas.
4. Recorre este dataframe cada 200 filas y crea una lista de allocations con valor 1/n_activos. 
5. Envía el post de estos allocations.
6. Usa la API para obtener todas las allocations introducidas.
7. Usa la API para ejecutar el backtesting.
8. Elimina todas las allocations.
9. Refactoriza el código en una clase para el algoritmo y otra para un handler del API.
10. Ejecutalo desde la terminal.

In [1]:
import pandas as pd
import requests, json

In [9]:

class ApiBmeHandler:
    
    def __init__(self, market):
        self.url_base = 'https://miax-gateway-jog4ew3z3q-ew.a.run.app'
        self.competi = 'mia_8'
        self.user_key = 'AIzaSyBbgDsZaI-ITTyGaCdCz9fi7_-4O_Uc44g'
        self.market = market
    
    def get_ticker_master(self):
        url = f'{self.url_base}/data/ticker_master'
        params = {'competi': self.competi,
                  'market': self.market,
                  'key': self.user_key}
        response = requests.get(url, params)
        tk_master = response.json()
        maestro_df = pd.DataFrame(tk_master['master'])
        return maestro_df
    
    def get_close_data_tck(self, tck):
        url = f'{self.url_base}/data/time_series'
        params = {'market': self.market,
                  'key': self.user_key,
                  'ticker': tck}
        response = requests.get(url, params)
        tk_data = response.json()
        series_data = pd.read_json(tk_data, typ='series')
        return series_data
        
    def get_all_close_data(self):
        datos_close = {}
        maestro_df = self.get_ticker_master()
        for idx, datos in maestro_df.iterrows():
            tck = datos.ticker
            print(tck, end=' ')            
            series_data = self.get_close_data_tck(tck)
            datos_close[tck] = series_data
        return pd.DataFrame(datos_close)

In [10]:
apih = ApiBmeHandler(market='IBEX')

In [11]:
maestro = apih.get_ticker_master()
maestro

     ticker           start_date             end_date n_days
0       ABE  2010-01-04T00:00:00  2018-05-09T00:00:00   2136
1       ABG  2010-01-04T00:00:00  2012-10-26T00:00:00    725
2   ABG.P_0  2012-10-26T00:00:00  2013-07-01T00:00:00    171
3   ABG.P_1  2014-06-23T00:00:00  2015-11-27T00:00:00    369
4       ACS  2010-01-04T00:00:00
..      ...                  ...                  ...    ...
60      TEF  2010-01-04T00:00:00
61      TL5  2010-01-04T00:00:00  2020-06-22T00:00:00   2677
62      TRE  2010-01-04T00:00:00  2019-06-24T00:00:00   2423
63      VIS  2016-06-21T00:00:00  2021-12-17T00:00:00   1408
64    VIS_0  2013-01-02T00:00:00  2014-12-22T00:00:00    505

[65 rows x 4 columns]

In [12]:
apih.get_close_data_tck('SAN')

2010-01-04    5.303580
2010-01-05    5.362355
2010-01-06    5.400610
2010-01-07    5.376035
2010-01-08    5.393771
                ...
2022-02-03    3.299000
2022-02-04    3.254000
2022-02-07    3.294000
2022-02-08    3.371000
2022-02-09    3.433000
Length: 3098, dtype: float64

In [13]:
data_close = apih.get_all_close_data()
data_close

ABE ABG ABG.P_0 ABG.P_1 ACS ACX ACX_0 AENA ALM AMS ANA ANA_0 BBVA BKIA BKIA_0 BKT BME BTO_1 CABK CIE CLNX COL CRI DIA EBRO_0 EBRO_1 ELE ELE_0 ENC ENG EVA FCC FDR FER GRF IAG IBE IBLA IBR IDR ITX JAZ MAP MAS MEL MRL MTS NTGY OHL PHM POP REE REP ROVI SAB SAN SCYR_1 SGRE SGRE_0 SLR TEF TL5 TRE VIS VIS_0

,ABE,ABG,ABG.P_0,ABG.P_1,ACS,ACX,ACX_0,AENA,ALM,AMS,...,SAN,SCYR_1,SGRE,SGRE_0,SLR,TEF,TL5,TRE,VIS,VIS_0
2010-01-04,7.079902,3.9889,NaN,NaN,17.841841,NaN,9.722429,NaN,NaN,NaN,...,5.303580,5.381871,NaN,9.364632,NaN,8.711768,6.904748,29.693987,NaN,NaN
2010-01-05,7.110934,3.9813,NaN,NaN,18.155515,NaN,9.797462,NaN,NaN,NaN,...,5.362355,5.496363,NaN,9.544552,NaN,8.698554,6.938567,30.546259,NaN,NaN
2010-01-06,7.137689,4.0098,NaN,NaN,18.192724,NaN,9.755071,NaN,NaN,NaN,...,5.400610,5.552471,NaN,9.624838,NaN,8.634825,6.904748,29.882358,NaN,NaN
2010-01-07,7.077627,4.0368,NaN,NaN,18.010994,NaN,9.807211,NaN,NaN,NaN,...,5.376035,5.629802,NaN,9.666842,NaN,8.549072,6.993000,30.283471,NaN,NaN
2010-01-08,7.008919,3.9922,NaN,NaN,18.404147,NaN,9.813826,NaN,NaN,NaN,...,5.393771,6.026540,NaN,9.708928,NaN,8.399522,7.064299,30.187564,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-03,NaN,NaN,NaN,NaN,22.750000,11.685,NaN,143.65,11.10,61.42,...,3.299000,NaN,18.195,NaN,14.780,4.189500,NaN,NaN,NaN,NaN
2022-02-04,NaN,NaN,NaN,NaN,22.410000,11.405,NaN,143.70,11.20,61.20,...,3.254000,NaN,17.525,NaN,14.635,4.164000,NaN,NaN,NaN,NaN
2022-02-07,NaN,NaN,NaN,NaN,22.060000,11.625,NaN,142.00,11.04,60.38,...,3.294000,NaN,16.780,NaN,14.395,4.192000,NaN,NaN,NaN,NaN
2022-02-08,NaN,NaN,NaN,NaN,22.270000,11.595,NaN,148.00,10.74,60.84,...,3.371000,NaN,16.300,NaN,14.285,4.298000,NaN,NaN,NaN,NaN
2022-02-09,NaN,NaN,NaN,NaN,22.850000,11.870,NaN,152.30,10.72,63.00,...,3.433000,NaN,16.920,NaN,14.510,4.352500,NaN,NaN,NaN,NaN