# Ejercicio

- Vamos a hacer un algoritmo que cada 200 días rebalancee todos los activos para tener el mismo porcertaje.
- Estamos en modo backtesting: calculamos primero todas las allocations, las insertamos y ejecutamos el backtesting.

1. Descarga el maestro de valores.
2. Descarga todos los datos para cada ticker del maestro. Baja solo el close.
3. Con las series close, crea un datafame donde tengas como columnas los tickers y filas las fechas.
4. Recorre este dataframe cada 200 filas y crea una lista de allocations con valor 1/n_activos. 
5. Envía el post de estos allocations.
6. Usa la API para obtener todas las allocations introducidas.
7. Usa la API para ejecutar el backtesting.
8. Elimina todas las allocations.
9. Refactoriza el código en una clase para el algoritmo y otra para un handler del API.
10. Ejecutalo desde la terminal.

In [3]:
import pandas as pd
import requests
import json


class BMEApiHandler:

    def __init__(self):
        self.url_base = 'https://miax-gateway-jog4ew3z3q-ew.a.run.app'
        self.competi = 'mia_12'
        self.user_key = 'AIzaSyD0VHr9iymOPEMbs-fTB8SKeh_d8LAtDtQ'

    def get_ticker_master(self):
        url = f'{self.url_base}/data/ticker_master'
        params = {'competi': self.competi,
                'market': 'IBEX',
                'key': self.user_key}
        response = requests.get(url, params)
        tk_master = response.json()
        maestro_df = pd.DataFrame(tk_master['master'])
        return maestro_df

    def get_close_data(self, tck) -> pd.Series:
        url = f'{self.url_base}/data/time_series'
        params = {
            'market': 'IBEX',
            'key': self.user_key,
            'ticker': tck
        }
        response = requests.get(url, params)
        tk_data = response.json()
        series_data = pd.read_json(tk_data, typ='series')
        return series_data

    def send_alloc(self, algo_tag, str_date, allocation):
        url = f'{self.url_base}/participants/allocation'
        url_auth = f'{url}?key={self.user_key}'
        print(url_auth)
        params = {
            'competi': self.competi,
            'algo_tag': algo_tag,
            'market': 'IBEX',
            'date': str_date,
            'allocation': allocation
        }
        #print(json.dumps(params))
        response = requests.post(url_auth, data=json.dumps(params))
        print(response.json())

    def get_algos(self):
        url = f'{self.url_base}/participants/algorithms'
        params = {'competi': self.competi,
                'key': self.user_key}
        response = requests.get(url, params)
        algos = response.json()
        if algos:
            algos_df = pd.DataFrame(algos)
            return algos_df

    def allocs_to_frame(self, json_allocations):
        alloc_list = []
        for json_alloc in json_allocations:
            #print(json_alloc)
            allocs = pd.DataFrame(json_alloc['allocations'])
            allocs.set_index('ticker', inplace=True)
            alloc_serie = allocs['alloc']
            alloc_serie.name = json_alloc['date'] 
            alloc_list.append(alloc_serie)
        all_alloc_df = pd.concat(alloc_list, axis=1).T
        return all_alloc_df

    def get_allocations(self, algo_tag):
        url = f'{self.url_base}/participants/algo_allocations'
        params = {
            'key': self.user_key,
            'competi': self.competi,
            'algo_tag': algo_tag,
            'market': 'IBEX',
        }
        response = requests.get(url, params)
        df_allocs = self.allocs_to_frame(response.json())
        return df_allocs


    def delete_allocs(self, algo_tag):
        url = f'{self.url_base}/participants/delete_allocations'
        url_auth = f'{url}?key={self.user_key}'
        params = {
            'competi': self.competi,
            'algo_tag': algo_tag,
            'market': 'IBEX',
            }
        response = requests.post(url_auth, data=json.dumps(params))
        print(response.text)


    def backtest_algo(self, algo_tag):
        url = f'{self.url_base}/participants/exec_algo'
        url_auth = f'{url}?key={self.user_key}'
        params = {
            'competi': self.competi,
            'algo_tag': algo_tag,
            'market': 'IBEX',
            }
        response = requests.post(url_auth, data=json.dumps(params))
        if response.status_code == 200:
            exec_data = response.json()
            status = exec_data.get('status')
            res_data = exec_data.get('content')
            if res_data:
                performace = pd.Series(res_data['result'])
                trades = pd.DataFrame(res_data['trades'])
                return performace, trades
        else:
            exec_data = dict()
            print(response.text)

    def algo_exec_results(self, algo_tag):
        url = f'{self.url_base}/participants/algo_exec_results'
        params = {
            'key': user_key,
            'competi': competi,
            'algo_tag': algo_tag,
            'market': market,
        }     
        response = requests.get(url, params)
        exec_data = response.json()
        print(exec_data.get('status'))
        res_data = exec_data.get('content')
        if res_data:
            performace = pd.Series(res_data['result'])
            trades = pd.DataFrame(res_data['trades'])
            return performace, trades

In [4]:
ah = BMEApiHandler()

In [5]:
ah.get_algos()

,user_id,algo_tag,algo_name,algo_type
0,AIzaSyD0VHr9iymOPEMbs-fTB8SKeh_d8LAtDtQ,test_user_1_miax12_algo1,test_user_1_miax12 algoritmo 1,allocator
1,AIzaSyD0VHr9iymOPEMbs-fTB8SKeh_d8LAtDtQ,test_user_1_miax12_algo2,test_user_1_miax12 algoritmo 2,allocator
2,AIzaSyD0VHr9iymOPEMbs-fTB8SKeh_d8LAtDtQ,test_user_1_miax12_algo3,test_user_1_miax12 algoritmo 3,allocator

In [6]:
ah.get_ticker_master()

     ticker           start_date             end_date n_days
0       ABE  2010-01-04T00:00:00  2018-05-09T00:00:00   2136
1       ABG  2010-01-04T00:00:00  2012-10-26T00:00:00    725
2   ABG.P_0  2012-10-26T00:00:00  2013-07-01T00:00:00    171
3   ABG.P_1  2014-06-23T00:00:00  2015-11-27T00:00:00    369
4       ACS  2010-01-04T00:00:00
..      ...                  ...                  ...    ...
63      TL5  2010-01-04T00:00:00  2020-06-22T00:00:00   2677
64      TRE  2010-01-04T00:00:00  2019-06-24T00:00:00   2423
65      UNI  2023-02-14T00:00:00
66      VIS  2016-06-21T00:00:00  2021-12-17T00:00:00   1408
67    VIS_0  2013-01-02T00:00:00  2014-12-22T00:00:00    505

[68 rows x 4 columns]

In [7]:
ah.get_close_data(tck='SAN')

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

2010-01-04    4.320897
2010-01-05    4.368662
2010-01-06    4.399893
2010-01-07    4.379685
2010-01-08    4.394382
                ...
2024-01-23    3.670500
2024-01-24    3.728500
2024-01-25    3.630000
2024-01-26    3.647500
2024-01-29    3.572000
Length: 3603, dtype: float64

In [8]:
df_master = ah.get_ticker_master()

In [11]:
data_close_dic = {}
for _, tck in df_master.iterrows():
    print(tck.ticker)
    tck = tck.ticker
    data_close_dic[tck] = ah.get_close_data(tck=tck)

ABE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ABG

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ABG.P_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ABG.P_1

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ACS

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ACX

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ACX_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

AENA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ALM

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

AMS

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ANA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ANA_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ANE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BBVA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BKIA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BKIA_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BKT

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BME

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

BTO_1

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

CABK

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

CIE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

CLNX

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

COL

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

CRI

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

DIA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

EBRO_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

EBRO_1

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ELE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ELE_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ENC

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ENG

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

EVA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

FCC

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

FDR

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

FER

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

GRF

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

IAG

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

IBE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

IBLA

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

IBR

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

IDR

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ITX

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

JAZ

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

MAP

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

MAS

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

MEL

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

MRL

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

MTS

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

NTGY

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

OHL

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

PHM

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

POP

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

REE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

REP

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

ROVI

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SAB

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SAN

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SCYR

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SCYR_1

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SGRE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SGRE_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

SLR

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

TEF

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

TL5

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

TRE

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

UNI

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

VIS

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

VIS_0

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_9015/1297575885.py:32: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  series_data = pd.read_json(tk_data, typ='series')

In [12]:
pdata_close_dic

{'ABE': 2010-01-04     7.079902
 2010-01-05     7.110934
 2010-01-06     7.137689
 2010-01-07     7.077627
 2010-01-08     7.008919
                 ...
 2018-05-03    18.290000
 2018-05-04    18.300000
 2018-05-07    18.280000
 2018-05-08    18.240000
 2018-05-09    18.240000
 Length: 2136, dtype: float64,
 'ABG': 2010-01-04    3.9889
 2010-01-05    3.9813
 2010-01-06    4.0098
 2010-01-07    4.0368
 2010-01-08    3.9922
                ...
 2012-10-22    2.4867
 2012-10-23    2.4778
 2012-10-24    2.4804
 2012-10-25    2.4380
 2012-10-26    2.4955
 Length: 725, dtype: float64,
 'ABG.P_0': 2012-10-26    2.3672
 2012-10-29    2.4039
 2012-10-30    2.3391
 2012-10-31    2.3418
 2012-11-01    2.3129
                ...
 2013-06-25    1.4556
 2013-06-26    1.4895
 2013-06-27    1.5160
 2013-06-28    1.4164
 2013-07-01    1.3478
 Length: 171, dtype: float64,
 'ABG.P_1': 2014-06-23    4.0072
 2014-06-24    3.8527
 2014-06-25    3.7542
 2014-06-26    3.7561
 2014-06-27    3.7948
                ...
 2015-11-23    0.9170
 2015-11-24    0.9100
 2015-11-25    0.4200
 2015-11-26    0.2520
 2015-11-27    0.2920
 Length: 369, dtype: float64,
 'ACS': 2010-01-04    15.285421
 2010-01-05    15.553961
 2010-01-06    15.585929
 2010-01-07    15.430347
 2010-01-08    15.767087
                 ...
 2024-01-23    39.330000
 2024-01-24    39.660000
 2024-01-25    39.500000
 2024-01-26    39.620000
 2024-01-29    35.660000
 Length: 3603, dtype: float64,
 'ACX': 2015-06-22     9.192037
 2015-06-23     9.493131
 2015-06-24     9.316627
 2015-06-25     9.192037
 2015-06-26     9.299323
                 ...
 2024-01-23    10.050000
 2024-01-24     9.886000
 2024-01-25     9.910000
 2024-01-26     9.888000
 2024-01-29     9.980000
 Length: 2206, dtype: float64,
 'ACX_0': 2010-01-04    9.722429
 2010-01-05    9.797462
 2010-01-06    9.755071
 2010-01-07    9.807211
 2010-01-08    9.813826
                 ...
 2013-12-17    6.947253
 2013-12-18    6.888759
 2013-12-19    6.929322
 2013-12-20    7.070335
 2013-12-23    7.171743
 Length: 1020, dtype: float64,
 'AENA': 2015-06-22     84.354941
 2015-06-23     84.047076
 2015-06-24     83.783192
 2015-06-25     81.892023
 2015-06-26     83.035521
                  ...
 2024-01-23    160.950000
 2024-01-24    161.750000
 2024-01-25    163.050000
 2024-01-26    163.600000
 2024-01-29    163.650000
 Length: 2206, dtype: float64,
 'ALM': 2020-06-22    11.810264
 2020-06-23    11.534723
 2020-06-24    11.268683
 2020-06-25    11.278184
 2020-06-26    11.534723
                 ...
 2022-06-13     9.895000
 2022-06-14     9.605000
 2022-06-15     9.650000
 2022-06-16     9.565000
 2022-06-17     9.800000
 Length: 512, dtype: float64,
 'AMS': 2011-01-03    12.676102
 2011-01-04    12.056748
 2011-01-05    12.089780
 2011-01-06    11.784233
 2011-01-07    11.854426
                 ...
 2024-01-23    64.220000
 2024-01-24    64.840000
 2024-01-25    65.540000
 2024-01-26    66.100000
 2024-01-29    65.580000
 Length: 3347, dtype: float64,
 'ANA': 2015-07-20     59.007070
 2015-07-21     59.134292
 2015-07-22     59.277416
 2015-07-23     59.158146
 2015-07-24     58.863946
                  ...
 2024-01-23    120.100000
 2024-01-24    120.600000
 2024-01-25    120.600000
 2024-01-26    121.800000
 2024-01-29    121.500000
 Length: 2186, dtype: float64,
 'ANA_0': 2010-01-04    62.867265
 2010-01-05    62.274298
 2010-01-06    62.374349
 2010-01-07    62.041341
 2010-01-08    63.939515
                 ...
 2015-06-16    53.261317
 2015-06-17    53.571082
 2015-06-18    54.337237
 2015-06-19    53.888973
 2015-06-22    56.138417
 Length: 1398, dtype: float64,
 'ANE': 2022-06-20    35.38
 2022-06-21    34.62
 2022-06-22    33.74
 2022-06-23    34.10
 2022-06-24    35.48
               ...
 2024-01-23    24.32
 2024-01-24    24.20
 2024-01-25    24.14
 2024-01-26    24.06
 2024-01-29    24.32
 Length: 414, dtype: float64,
 'BBVA': 2010-01-04    5.723091
 2010-01-05    5.762804
 2010-01-06    5.784867
 2010-01-07    5.758392
 2010-01-08    5.802517
                 ...
 2024-01-23    8.134000
 2024-01-24    8.226000
 2024-01-25    8.090000
 2024-01-26    8.092000
 2024-01-29    8.114000
 Length: 3603, dtype: float64,
 'BKIA': 2013-12-23    3.521891
 2013-12-24    3.558711
 2013-12-27    3.634912
 2013-12-30    3.778349
 2013-12-31    3.769384
                 ...
 2021-03-22    1.723000
 2021-03-23    1.750000
 2021-03-24    1.776500
 2021-03-25    1.738000
 2021-03-26    1.784000
 Length: 1855, dtype: float64,
 'BKIA_0': 2011-10-03    133.955462
 2011-10-04    131.762604
 2011-10-05    132.096864
 2011-10-06    134.103702
 2011-10-07    134.215442
                  ...
 2012-12-24     25.497534
 2012-12-27     20.516939
 2012-12-28     15.016065
 2012-12-31     14.532605
 2013-01-02     13.640606
 Length: 321, dtype: float64,
 'BKT': 2010-01-04    3.033370
 2010-01-05    3.046549
 2010-01-06    3.060141
 2010-01-07    3.027192
 2010-01-08    3.035429
                 ...
 2024-01-23    6.000000
 2024-01-24    6.122000
 2024-01-25    5.752000
 2024-01-26    5.804000
 2024-01-29    5.746000
 Length: 3603, dtype: float64,
 'BME': 2010-01-04    10.783767
 2010-01-05    10.927393
 2010-01-06    11.049829
 2010-01-07    10.929748
 2010-01-08    11.113402
                 ...
 2015-06-16    27.929031
 2015-06-17    27.518200
 2015-06-18    27.738555
 2015-06-19    27.137248
 2015-06-22    27.648919
 Length: 1398, dtype: float64,
 'BTO_1': 2010-01-04    7.6753
 2010-01-05    7.8366
 2010-01-06    7.8446
 2010-01-07    7.7782
 2010-01-08    8.1461
                ...
 2010-12-27    5.8275
 2010-12-28    5.8360
 2010-12-29    5.7621
 2010-12-30    5.8089
 2011-01-03    5.8360
 Length: 257, dtype: float64,
 'CABK': 2011-07-01    2.409074
 2011-07-04    2.423246
 2011-07-05    2.431343
 2011-07-06    2.413629
 2011-07-07    2.434380
                 ...
 2024-01-23    3.905000
 2024-01-24    3.936000
 2024-01-25    3.839000
 2024-01-26    3.855000
 2024-01-29    3.862000
 Length: 3220, dtype: float64,
 'CIE': 2018-06-18    31.069433
 2018-06-19    30.765706
 2018-06-20    29.836661
 2018-06-21    28.353761
 2018-06-22    27.460448
                 ...
 2022-06-13    23.140000
 2022-06-14    23.380000
 2022-06-15    23.200000
 2022-06-16    22.500000
 2022-06-17    23.000000
 Length: 1025, dtype: float64,
 'CLNX': 2016-06-21    10.459142
 2016-06-22    10.474041
 2016-06-23    10.608133
 2016-06-24     9.837106
 2016-06-27     9.598721
                 ...
 2024-01-23    34.450000
 2024-01-24    34.700000
 2024-01-25    35.150000
 2024-01-26    35.700000
 2024-01-29    35.200000
 Length: 1949, dtype: float64,
 'COL': 2017-06-16    6.558578
 2017-06-19    6.558578
 2017-06-20    6.493335
 2017-06-21    6.456422
 2017-06-22    6.500203
                 ...
 2024-01-23    5.665000
 2024-01-24    5.830000
 2024-01-25    5.735000
 2024-01-26    5.745000
 2024-01-29    5.720000
 Length: 1695, dtype: float64,
 'CRI': 2010-01-04    3.0035
 2010-01-05    3.0535
 2010-01-06    3.0222
 2010-01-07    3.0418
 2010-01-08    3.0525
                ...
 2011-06-24    4.6095
 2011-06-27    4.6006
 2011-06-28    4.6510
 2011-06-29    4.7549
 2011-06-30    4.8130
 Length: 383, dtype: float64,
 'DIA': 2012-01-02    0.813870
 2012-01-03    0.808861
 2012-01-04    0.810907
 2012-01-05    0.828632
 2012-01-06    0.850920
                 ...
 2018-12-18    0.120114
 2018-12-19    0.117857
 2018-12-20    0.106188
 2018-12-21    0.112023
 2018-12-24    0.105543
 Length: 1786, dtype: float64,
 'EBRO_0': 2010-07-26     9.581738
 2010-07-27     9.519538
 2010-07-28     9.526498
 2010-07-29     9.430025
 2010-07-30     9.250559
                 ...
 2012-04-25    10.173174
 2012-04-26    10.119960
 2012-04-27    10.434576
 2012-04-30    10.123925
 2012-05-02     9.979700
 Length: 455, dtype: float64,
 'EBRO_1': 2013-07-01    12.889216
 2013-07-02    12.853534
 2013-07-03    12.707107
 2013-07-04    13.063484
 2013-07-05    13.047714
                 ...
 2014-06-17    13.257663
 2014-06-18    13.298191
 2014-06-19    13.229206
 2014-06-20    12.940844
 2014-06-23    13.196696
 Length: 250, dtype: float64,
 'ELE': 2014-12-22     9.458510
 2014-12-23     9.631067
 2014-12-24     9.689562
 2014-12-29     9.692486
 2014-12-30     9.642766
                 ...
 2024-01-23    18.535000
 2024-01-24    18.705000
 2024-01-25    18.650000
 2024-01-26    18.605000
 2024-01-29    18.480000
 Length: 2330, dtype: float64,
 'ELE_0': 2010-01-04    7.032781
 2010-01-05    7.053787
 2010-01-06    6.965162
 2010-01-07    6.870634
 2010-01-08    7.020821
                 ...
 2013-12-17    7.030864
 2013-12-18    7.526580
 2013-12-19    7.645564
 2013-12-20    7.438338
 2013-12-23    7.630231
 Length: 1020, dtype: float64,
 'ENC': 2018-12-24    5.243047
 2018-12-27    5.067302
 2018-12-28    5.174702
 2018-12-31    5.355328
 2019-01-02    5.330919
                 ...
 2020-09-15    2.542000
 2020-09-16    2.616000
 2020-09-17    2.623000
 2020-09-18    2.588000
 2020-09-21    2.413000
 Length: 444, dtype: float64,
 'ENG': 2010-01-04     6.693196
 2010-01-05     6.761844
 2010-01-06     6.693196
 2010-01-07     6.646001
 2010-01-08     6.725375
                 ...
 2024-01-23    15.285000
 2024-01-24    15.275000
 2024-01-25    15.110000
 2024-01-26    14.965000
 2024-01-29    15.065000
 Length: 3603, dtype: float64,
 'EVA': 2010-01-04    14.1826
 2010-01-05    14.0890
 2010-01-06    14.2024
 2010-01-07    14.3748
 2010-01-08    14.1038
                ...
 2010-07-19    13.7750
 2010-07-20    13.7650
 2010-07-21    13.9800
 2010-07-22    14.1050
 2010-07-23    14.0900
 Length: 143, dtype: float64,
 'FCC': 2010-01-04    15.814807
 2010-01-05    15.945180
 2010-01-06    16.242662
 2010-01-07    16.300030
 2010-01-08    16.540050
                 ...
 2016-07-12     7.028515
 2016-07-13     7.022963
 2016-07-14     7.030366
 2016-07-15     7.024814
 2016-07-18     7.009084
 Length: 1674, dtype: float64,
 'FDR': 2021-03-29    21.411785
 2021-03-30    22.364428
 2021-03-31    22.092244
 2021-04-01    22.500520
 2021-04-06    22.727339
                 ...
 2024-01-23    19.150000
 2024-01-24    19.530000
 2024-01-25    19.500000
 2024-01-26    19.460000
 2024-01-29    19.450000
 Length: 729, dtype: float64,
 'FER': 2010-01-04     4.509868
 2010-01-05     4.569540
 2010-01-06     4.720604
 2010-01-07     4.695875
 2010-01-08     4.710927
                 ...
 2023-06-09    28.750000
 2023-06-12    28.780000
 2023-06-13    28.720000
 2023-06-14    28.840000
 2023-06-15    28.920000
 Length: 3444, dtype: float64,
 'GRF': 2010-01-04    4.720340
 2010-01-05    4.655834
 2010-01-06    4.631169
 2010-01-07    4.591327
 2010-01-08    4.523027
                 ...
 2024-01-23    8.990000
 2024-01-24    9.496000
 2024-01-25    9.400000
 2024-01-26    9.560000
 2024-01-29    9.968000
 Length: 3603, dtype: float64,
 'IAG': 2011-04-01    1.368292
 2011-04-04    1.346556
 2011-04-05    1.339134
 2011-04-06    1.352387
 2011-04-07    1.351327
                 ...
 2024-01-23    1.733000
 2024-01-24    1.792000
 2024-01-25    1.819000
 2024-01-26    1.807500
 2024-01-29    1.791500
 Length: 3283, dtype: float64,
 'IBE': 2010-01-04     3.077473
 2010-01-05     3.081131
 2010-01-06     3.077016
 2010-01-07     3.057353
 2010-01-08     3.054152
                 ...
 2024-01-23    11.050000
 2024-01-24    11.125000
 2024-01-25    11.070000
 2024-01-26    10.970000
 2024-01-29    11.020000
 Length: 3603, dtype: float64,
 'IBLA': 2010-01-04    1.961
 2010-01-05    2.006
 2010-01-06    2.030
 2010-01-07    2.030
 2010-01-08    2.042
               ...
 2011-01-17    3.619
 2011-01-18    3.634
 2011-01-19    3.487
 2011-01-20    3.420
 2011-01-21    3.420
 Length: 271, dtype: float64,
 'IBR': 2010-01-04    1.9811
 2010-01-05    1.9900
 2010-01-06    2.0015
 2010-01-07    2.0057
 2010-01-08    2.0622
                ...
 2011-07-04    1.8900
 2011-07-05    1.8460
 2011-07-06    1.8240
 2011-07-07    1.7950
 2011-07-08    1.7920
 Length: 389, dtype: float64,
 'IDR': 2010-01-04    14.047623
 2010-01-05    14.005589
 2010-01-06    13.963555
 2010-01-07    13.971962
 2010-01-08    14.194740
                 ...
 2024-01-23    15.770000
 2024-01-24    16.010000
 2024-01-25    16.120000
 2024-01-26    16.200000
 2024-01-29    16.220000
 Length: 3603, dtype: float64,
 'ITX': 2010-01-04     6.454237
 2010-01-05     6.411649
 2010-01-06     6.414586
 2010-01-07     6.320599
 2010-01-08     6.342628
                 ...
 2024-01-23    38.340000
 2024-01-24    39.010000
 2024-01-25    39.140000
 2024-01-26    38.870000
 2024-01-29    38.920000
 Length: 3603, dtype: float64,
 'JAZ': 2013-04-23     5.908
 2013-04-24     5.950
 2013-04-25     5.950
 2013-04-26     5.900
 2013-04-29     5.960
                ...
 2015-06-18    12.975
 2015-06-19    12.975
 2015-06-22    12.920
 2015-06-23    12.945
 2015-06-24    12.920
 Length: 554, dtype: float64,
 'MAP': 2010-01-04    1.338397
 2010-01-05    1.363016
 2010-01-06    1.374655
 2010-01-07    1.370626
 2010-01-08    1.363016
                 ...
 2024-01-23    1.973000
 2024-01-24    2.026000
 2024-01-25    2.030000
 2024-01-26    2.030000
 2024-01-29    2.032000
 Length: 3603, dtype: float64,
 'MAS': 2019-06-24    19.86
 2019-06-25    19.42
 2019-06-26    19.22
 2019-06-27    19.24
 2019-06-28    19.60
               ...
 2020-09-08    22.44
 2020-09-09    22.44
 2020-09-10    22.44
 2020-09-11    22.42
 2020-09-14    22.38
 Length: 315, dtype: float64,
 'MEL': 2016-08-08    10.608740
 2016-08-09    10.689869
 2016-08-10    10.646919
 2016-08-11    10.685097
 2016-08-12    10.551473
                 ...
 2024-01-23     6.235000
 2024-01-24     6.305000
 2024-01-25     6.350000
 2024-01-26     6.350000
 2024-01-29     6.230000
 Length: 1915, dtype: float64,
 'MRL': 2015-12-21    8.446023
 2015-12-22    8.468697
 2015-12-23    8.695435
 2015-12-24    8.676541
 2015-12-28    8.634972
                 ...
 2024-01-23    9.300000
 2024-01-24    9.450000
 2024-01-25    9.440000
 2024-01-26    9.490000
 2024-01-29    9.545000
 Length: 2076, dtype: float64,
 'MTS': 2010-01-04    70.129550
 2010-01-05    67.908438
 2010-01-06    67.579384
 2010-01-07    68.772203
 2010-01-08    69.142389
                 ...
 2024-01-23    24.820000
 2024-01-24    25.445000
 2024-01-25    25.340000
 2024-01-26    25.410000
 2024-01-29    25.340000
 Length: 3603, dtype: float64,
 'NTGY': 2010-01-04     6.740714
 2010-01-05     6.817188
 2010-01-06     6.784413
 2010-01-07     6.782228
 2010-01-08     6.756291
                 ...
 2024-01-23    25.700000
 2024-01-24    25.560000
 2024-01-25    25.320000
 2024-01-26    25.180000
 2024-01-29    25.080000
 Length: 3603, dtype: float64,
 'OHL': 2010-01-04    8.695412
 2010-01-05    8.722727
 2010-01-06    8.818240
 2010-01-07    8.768252
 2010-01-08    8.818240
                 ...
 2016-06-15    3.555307
 2016-06-16    3.360800
 2016-06-17    3.685544
 2016-06-20    3.799177
 2016-06-21    3.644214
 Length: 1655, dtype: float64,
 'PHM': 2020-09-21     97.033053
 2020-09-22     96.245766
 2020-09-23    101.166306
 2020-09-24     97.377491
 2020-09-25    100.772663
                  ...
 2024-01-23     39.820000
 2024-01-24     41.900000
 2024-01-25     41.200000
 2024-01-26     40.540000
 2024-01-29     41.100000
 Length: 862, dtype: float64,
 'POP': 2010-01-04    10.2811
 2010-01-05    10.6826
 2010-01-06    11.0453
 2010-01-07    11.2471
 2010-01-08    11.3511
                ...
 2017-06-01     0.5000
 2017-06-02     0.4130
 2017-06-05     0.3380
 2017-06-06     0.3170
 2017-06-07     0.3170
 Length: 1902, dtype: float64,
 'REE': 2010-01-04     5.059243
 2010-01-05     5.053947
 2010-01-06     5.007605
 2010-01-07     4.975827
 2010-01-08     5.022170
                 ...
 2024-01-23    14.950000
 2024-01-24    14.985000
 2024-01-25    14.865000
 2024-01-26    15.040000
 2024-01-29    15.225000
 Length: 3603, dtype: float64,
 'REP': 2010-01-04     7.003860
 2010-01-05     7.024317
 2010-01-06     6.992701
 2010-01-07     6.996421
 2010-01-08     6.988982
                 ...
 2024-01-23    12.940000
 2024-01-24    13.150000
 2024-01-25    13.200000
 2024-01-26    13.450000
 2024-01-29    13.665000
 Length: 3603, dtype: float64,
 'ROVI': 2021-12-20    70.243563
 2021-12-21    69.259759
 2021-12-22    71.030605
 2021-12-23    70.833845
 2021-12-27    71.424127
                 ...
 2024-01-23    63.750000
 2024-01-24    64.350000
 2024-01-25    63.650000
 2024-01-26    64.750000
 2024-01-29    61.150000
 Length: 540, dtype: float64,
 'SAB': 2010-01-04    2.055654
 2010-01-05    2.086801
 2010-01-06    2.128329
 2010-01-07    2.126253
 2010-01-08    2.142864
                 ...
 2024-01-23    1.170000
 2024-01-24    1.190000
 2024-01-25    1.153000
 2024-01-26    1.166500
 2024-01-29    1.166000
 Length: 3603, dtype: float64,
 'SAN': 2010-01-04    4.320897
 2010-01-05    4.368662
 2010-01-06    4.399893
 2010-01-07    4.379685
 2010-01-08    4.394382
                 ...
 2024-01-23    3.670500
 2024-01-24    3.728500
 2024-01-25    3.630000
 2024-01-26    3.647500
 2024-01-29    3.572000
 Length: 3603, dtype: float64,
 'SCYR': 2022-06-20    2.363478
 2022-06-21    2.369348
 2022-06-22    2.308696
 2022-06-23    2.314565
 2022-06-24    2.341957
                 ...
 2024-01-23    3.090000
 2024-01-24    3.120000
 2024-01-25    3.110000
 2024-01-26    3.136000
 2024-01-29    3.036000
 Length: 414, dtype: float64,
 'SCYR_1': 2010-01-04    5.381871
 2010-01-05    5.496363
 2010-01-06    5.552471
 2010-01-07    5.629802
 2010-01-08    6.026540
                 ...
 2016-06-15    1.165252
 2016-06-16    1.115650
 2016-06-17    1.264457
 2016-06-20    1.347399
 2016-06-21    1.270962
 Length: 1655, dtype: float64,
 'SGRE': 2013-12-23     6.073313
 2013-12-24     6.077386
 2013-12-27     6.184122
 2013-12-30     6.180048
 2013-12-31     6.175974
                 ...
 2023-02-08    18.050000
 2023-02-09    18.050000
 2023-02-10    18.050000
 2023-02-13    18.050000
 2023-02-14    18.050000
 Length: 2341, dtype: float64,
 'SGRE_0': 2010-01-04    9.364632
 2010-01-05    9.544552
 2010-01-06    9.624838
 2010-01-07    9.666842
 2010-01-08    9.708928
                 ...
 2012-12-24    1.536683
 2012-12-27    1.477978
 2012-12-28    1.420181
 2012-12-31    1.352546
 2013-01-02    1.480458
 Length: 770, dtype: float64,
 'SLR': 2020-10-19    17.330
 2020-10-20    17.350
 2020-10-21    16.860
 2020-10-22    16.300
 2020-10-23    15.800
                ...
 2024-01-23    14.335
 2024-01-24    14.700
 2024-01-25    14.465
 2024-01-26    13.425
 2024-01-29    13.265
 Length: 842, dtype: float64,
 'TEF': 2010-01-04    8.067411
 2010-01-05    8.055200
 2010-01-06    7.996180
 2010-01-07    7.916809
 2010-01-08    7.778417
                 ...
 2024-01-23    3.820000
 2024-01-24    3.813000
 2024-01-25    3.795000
 2024-01-26    3.823000
 2024-01-29    3.816000
 Length: 3603, dtype: float64,
 'TL5': 2010-01-04    6.904748
 2010-01-05    6.938567
 2010-01-06    6.904748
 2010-01-07    6.993000
 2010-01-08    7.064299
                 ...
 2020-06-16    3.202000
 2020-06-17    3.272000
 2020-06-18    3.234000
 2020-06-19    3.190000
 2020-06-22    3.112000
 Length: 2677, dtype: float64,
 'TRE': 2010-01-04    29.693987
 2010-01-05    30.546259
 2010-01-06    29.882358
 2010-01-07    30.283471
 2010-01-08    30.187564
                 ...
 2019-06-18    23.740000
 2019-06-19    23.600000
 2019-06-20    23.640000
 2019-06-21    23.440000
 2019-06-24    22.760000
 Length: 2423, dtype: float64,
 'UNI': 2023-02-14    1.108737
 2023-02-15    1.103017
 2023-02-16    1.110643
 2023-02-17    1.125897
 2023-02-20    1.121130
                 ...
 2024-01-23    0.866500
 2024-01-24    0.880500
 2024-01-25    0.861500
 2024-01-26    0.872500
 2024-01-29    0.865500
 Length: 244, dtype: float64,
 'VIS': 2016-06-21    43.373230
 2016-06-22    42.625190
 2016-06-23    43.412601
 2016-06-24    42.528951
 2016-06-27    41.299714
                 ...
 2021-12-13    54.950000